<main class="todo-container">

  <h1>To-Do Application</h1>
  <div class="add-task">
    <input type="text" [(ngModel)]="newTask" placeholder="Enter new task">
    <button (click)="addTask()">Add</button>
    
  </div>

  <ul class="task-list">
    <li *ngFor="let todoItem of todoList; let i = index" [ngClass]="{'completed':todoItem.completed}">
      <input class="checkbox" type="checkbox" [(checked)]="todoItem.completed" (change)="toggleCompleted(i)">


      <span *ngIf="editingTaskId !== todoItem.id" [class.completed]="todoItem.completed">
        {{todoItem.task}}
      </span>
      <!-- <input *ngIf="editingTaskId === todoItem.id" type="text" [(ngModel)]="editingTaskValue"> -->

      <!-- <button class="edit" *ngIf="editingTaskId !== todoItem.id" (click)="editTask(todoItem.id)">Edit</button>
      <button *ngIf="editingTaskId === todoItem.id" (click)="saveTask(todoItem.id)" class="save">Save</button>
      <button *ngIf="editingTaskId === todoItem.id" (click)="cancelEdit()" class="cancel">Cancel</button> -->
      <button (click)="deleteTask(todoItem.id)" class="delete">Delete</button>
    </li>
  </ul>
</main>